.icono {   /* icono#1 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
  }
  
  .icono__tipo {
    font-size: 24px;
    color: var(--color3);
    margin-right: 8px;
  }
  
  .icono__texto {
    font-size: 25px;
    color: #ffffff;
  }

  .icono_2 {   /* icono#2 */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
  }
  
  .icono__tipo_2 {
    font-size: 24px;
    color: var(--color3);
    margin-right: 8px;
  }
  
  .icono__texto2 {
    font-size: 25px;
    color: #ffffff;
  }
  