.notificacion {
    display: flex;
    align-items: center;
    padding: 12px;
    border-radius: 5px;
    margin: 10px 0;
    position: relative;
    color: #fff;
    cursor: pointer;
  }
  
  .notificacion--exito {
    background-color: #4caf50; 
    cursor: pointer;
  }

  .notificacion--exito:hover{
      background-color: #ffffff;
    color: var(--color2);
    border: solid 1px var(--color2);
  }
  
  .notificacion--error {
    background-color: #f44336; 
  }

  .notificacion--cargando {
    background-color: #8e8e8e; 
  }
  
  .notificacion--cerrado {
    background-color: #6cf1f1; 
  }
  
  .notificacion__icono {
    font-size: 24px;
    margin-right: 10px;
  }
  
  .notificacion__texto {
    flex-grow: 1; 
    cursor: pointer;
  }
  
  .notificacion__cerrar {
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  