@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: rgba(0, 208, 255, 0.656);
  --color2: rgba(10, 205, 56, 0.9);
  --color3: rgba(0, 98, 255, 0.774);
  --color4: rgb(199, 214, 32);
}
body {
  font-family: "Roboto Condensed", sans-serif;
}

.boton {
  width: 130px;
  background-color: #ce4dfd;
  padding: 12px;
  border: solid 1px #ce4dfd;
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.boton:hover {
  background-color: #fff;
  color: #ce4dfd;
  border: solid 1px #ce4dfd;
}
.boton--border {
  border: solid 1px #ce4dfd;
  background-color: #fff;
  color: #ce4dfd;
}
.boton__texto {
  /* color: #fff; */
}
.boton__icono {
  /* color: #fff; */
}

.boton1 {
  width: 130px;
  background-color: var(--color1);
  padding: 12px;
  border: solid 1px var(--color1);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.boton1:hover {
  background-color: #fff;
  color: var(--color1);
  border: solid 1px var(--color1);
}
.boton1--border {
  border: solid 1px var(--color1);
  background-color: #fff;
  color: var(--color1);
}
.boton2 {
  width: 130px;
  background-color: var(--color2);
  padding: 12px;
  border: solid 1px var(--color2);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.boton2:hover {
  background-color: #fff;
  color: var(--color2);
  border: solid 1px var(--color2);
}
.boton2--border {
  border: solid 1px var(--color2);
  background-color: #fff;
  color: var(--color2);
}

.boton3 {
  width: 130px;
  background-color: var(--color3);
  padding: 12px;
  border: solid 1px var(--color3);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.boton3:hover {
  background-color: #fff;
  color: var(--color3);
  border: solid 1px var(--color3);
}
.boton3--border {
  border: solid 1px var(--color3);
  background-color: #fff;
  color: var(--color3);
}

.boton4 {
  width: 130px;
  background-color: var(--color4);
  padding: 12px;
  border: solid 1px var(--color4);
  border-radius: 5px;
  margin: 10px auto;
  text-decoration: none;
  display: inline-flex;
  justify-content: space-evenly;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
.boton4:hover {
  background-color: #fff;
  color: var(--color4);
  border: solid 1px var(--color4);
}
.boton4--border {
  border: solid 1px var(--color4);
  background-color: #fff;
  color: var(--color4);
}

.lista {
  width: 400px;
  background-color: var(--color1);
}

.lista__item {
  border: solid 1px var(--color1);
  padding: 12px;
}

.lista--texto {
}

.lista__icono {
}
