@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url(botones.css);
@import url(Modificadores/botones.css);
@import url(lista.css);
@import url(Modificadores/lista.css);
@import url(icono.css);
@import url(Modificadores/icono.css);
@import url(tarjeta.css);
@import url(Modificadores/tarjeta.css);
@import url(notificacion.css);
@import url(Modificadores/notificacion.css);

* {
  margin: 10px;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color1: rgba(0, 208, 255, 0.656);
  --color2: rgba(10, 205, 56, 0.9);
  --color3: rgba(0, 98, 255, 0.774);
  --color4: rgb(199, 214, 32);
}
body {
  font-family: "Roboto Condensed", sans-serif;
}


